.gallery {
  overflow-x: scroll;
  background-color: var(--gray);
  height: 33%;
  padding: 0 25px;
  max-height: 500px;
  display: flex;
  flex-direction: row;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: contain;

    &-container {
      margin-right: 20px;
      padding: 10px 0 10px 0;
    }

    &-caption {
      color: var(--near-white);
    }
  }
}
