.project {
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0 10px;
  }

  h1 {
    padding-top: 5px;
    font-size: var(--font-size-72);
  }

  h2 {
    padding-top: 5px;
    font-size: var(--font-size-24);
  }

  h3 {
    font-size: var(--font-size-12);
  }

  p {
    font-size: var(--font-size-10);
    margin-top: 5px;
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  &__icon-content {
    &-banner {
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      margin-top: 10px;
      background-color: var(--project-background);
      color: var(--project-foreground);
    }
  }
}

.resume {
  pointer-events: none;
  width: 100%;
  height: 100%;
}
